.brands-arc {
  padding-top: 50px;
  padding-bottom: 80px;
}

.brands-arc .container {
  display: flex;
  flex-direction: column;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}

.brand-arc {
  display: flex;
}

.brand-arc__column:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
}

.brand-arc__column:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 40px;
  flex-basis: 70%;
}

.brand-arc__column:nth-child(2) .brands__link {
  margin-top: 15px;
}

.brand__text p {
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 3.2rem;
    color: #000000;
}

.brand__text p:not(:last-child) {
  margin-bottom: 20px;
}
