.one-click--search {
  display: none;
}

.one-click {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.one-click__wrap {
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 1;
  display: flex;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.one-click__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8);
}

.one-click__close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: none;
  cursor: pointer;
  outline: 0;
  width: 20px;
  height: 20px;
}

.one-click__close::before {
  content: '';
  position: absolute;
  left: 0;
  border: 1px solid #E7B4BD;
  width: 20px;
  transform: rotate(45deg);
}

.one-click__close::after {
  content: '';
  position: absolute;
  left: 0;
  border: 1px solid #E7B4BD;
  width: 20px;
  transform: rotate(-45deg);
}

.one-click__image, .one-click__image img{
  width: 100%;
  height: 100%;
}

.one-click__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 3rem;
  text-transform: uppercase;
  color: #08486C;
  margin-bottom: 25px;
}

.one-click__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 2rem;
  color: #000000;
  display: block;
  margin-bottom: 30px;
}

.one-click__column:nth-child(2) {
  padding: 55px 40px;
}

.one-click__phone, .one-click__name {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 5px;
}

 .one-click__name {
   margin-bottom: 10px;
 }

.one-click__phone, .one-click__name, .one-click__name::placeholder, .one-click__phone::placeholder {
  font-family: 'Geometria', sans-serif;
  padding: 5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.soglasie {
  display: block;
  margin-bottom: 20px;
}

.soglasie span, .soglasie a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 2rem;
  color: #000000;
}

.one-click__submit {
  padding: 5px 35px;
  border: none;
  background: #3881AE;
  border-radius: 4px;
  font-weight: normal;
  font-size: 18px;
  line-height: 2.3rem;
  color: #FFFFFF;
}
